@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;1000&display=swap');


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/
/*te gebruiken kleuren: grijs #899CA0 en donkergroen #1C2B32*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'Poppins', sans-serif;
}

/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    text-align: center;
    padding: 20px;
    color: #1C2B32;
    background-image: url('/assets/images/mountains.jpg');
    background-size: 1200px 800px;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    font-size: 80px;
    font-weight: 1000;
    margin-top: -200px;
    margin-bottom: 2px;
}

header p {
    font-size: 12px;
    margin-bottom: 20px;
}

.header-content form {
    display: flex;
    width: 40%;
    justify-content: center
}

.header-content form input[type="text"], .header-content form button {
    flex: 6;
    height: 50px;
    border: 3px solid #1C2B32;
    font-size: 12px;
    padding: 0 20px;
}

.header-content form input[type="text"] {
    background-color: transparent;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: -1px;
}

::placeholder {
    color: #1C2B32;
    opacity: 1;
}

.header-content form button {
    flex: 4;
    background-color: #1C2B32;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


/*///////////// 3.2 Testimonial /////////////*/

.testimonial {
    padding: 40px 20px;
}

.testimonial h2 {
    color: #1C2B32;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.quote-icon {

}

.testimonial-quote {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 20px;
    max-width: 75%;
    margin: 0 auto;
}

.testimonial-quote p {
    font-size: 12px;
}

.testimonial-quote cite {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
}

/*///////////// 3.3 Support /////////////*/
.support {
    padding: 40px 20px;
}

.support h2 {
    color: #1C2B32;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

/*///////////// 3.4 Faq /////////////*/


/*///////////// 3.5 Footer /////////////*/